html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

/* ================= NAVBAR ================= */
.navbar {
  background-color: #dc3545 !important;
}

.navbar-brand {
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  color: #fff !important;
}

.btn-login {
  border: 1px solid #fff;
  color: #fff;
}

.btn-login:hover {
  background: #fff;
  color: #dc3545;
}

#titunav {
  padding-left: 32px !important;
}

/* ================= NAV INFERIOR ================= */
.nav-scroller {
  background: #ffffff;
  border-bottom: 3px solid #198754;
  margin: 0;        /* 🔥 tira espaço */
  padding: 0;       /* 🔥 tira espaço interno */
}
.nav-scroller .nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px 0;
}

.nav-underline .nav-link {
  padding: .6rem 1rem;
  font-size: .9rem;
  color: #198754;
  border-radius: 20px;
  transition: 0.3s;
}

.nav-underline .nav-link:hover {
  background-color: #dc3545;
  color: white;
  transform: translateY(-2px);
  border-color: #981a27 !important;
}

.nav-underline .active {
  background-color: #198754;
  color: white !important;
  border-color: #095632 !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


/* ================= MAIN ================= */

.card-img-top {
  height: 230px;
  object-fit: cover;
}

.btn-circle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-btn {
  position: absolute;
  top: 10px;
  z-index: 2;
}

.overlay-left {
  left: 10px;
}

.overlay-right {
  right: 10px;
}

.descricao {
  display: none;
}

.comentarios {
  display: none;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 1.3rem;
  color: #ccc;
  cursor: pointer;
  margin-left: 4px;
}

.rating input:checked~label,
.rating label:hover,
.rating label:hover~label {
  color: #ffc107;
}

/* botoes do main*/
.btn-primary {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-primary:hover {
  background-color: #bb2d3b;
  border-color: #bb2d3b;
}


.btn-outline-primary {
  color: #198754;
  border-color: #198754;
}

.btn-outline-primary:hover {
  background-color: #198754;
  color: white;
}


a {
  color: #198754;
}

a:hover {
  color: #dc3545;
}


.form-control:focus {
  border-color: #198754;
  box-shadow: 0 0 0 0.2rem rgba(25, 135, 84, 0.25);
}


.form-check-input:checked {
  background-color: #198754;
  border-color: #198754;
}

.form-range::-webkit-slider-thumb {
  background-color: #dc3545;
}

.form-range::-moz-range-thumb {
  background-color: #dc3545;
}


.spinner-border {
  color: #198754 !important;
}


.text-primary {
  color: #198754 !important;
}


.bg-primary {
  background-color: #dc3545 !important;
}

/* ================= MOBILE ================= */
@media (max-width: 991.98px) {

  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 142%;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: #dc3545;
    visibility: hidden;
    transition: .3s;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1050;

  }

  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }

  /* Links */
  .navbar-nav {
    z-index: 1100;
    position: relative;
    align-items: flex-start;
    width: 100%;
    gap: 18px;
  }

  .nav-link {
    font-size: 1.2rem;
    text-align: left;
    width: 100%;
  }

  .offcanvas-collapse .d-flex {
    margin-top: 25px;
    width: 100%;
    justify-content: flex-start;
  }

  .btn-login {
    width: 200px;
    padding: 10px;
    border-radius: 30px;
    font-size: 1.1rem;
    text-align: center;
  }

  .nav-scroller {
    display: none;
  }


}

/* ================= DESKTOP ================= */
@media (min-width: 992px) {
  .offcanvas-collapse {
    display: none !important;
  }
}

/* ================= FOOTER ================= */
footer {
  margin-top: auto;
  background-color: #198754;
  color: white;
  text-align: center;
  margin-bottom: 0%;
}

/* ================= Popup login ================= */
.modal-content {
  border-radius: 15px;
  backdrop-filter: blur(15px);
  background: hwb(0 100% 0%);
  border: none;
}

.btn-main {
  background-color: #dc3545;
  color: white;
  border: none;
}

.btn-main:hover {
  background-color: #bb2d3b !important;
  color: white !important;
}

.btn-main:active {
  background-color: #a52834 !important;
}

.btn-main:focus {
  box-shadow: none;
}

#backpopouplogin {
  background-color: #198754;
}


/* ================= parallax ================= */

.parallax-bg {
    position: fixed;
    top: -80%;          
    left: 0;
    width: 100%;
    height: 260%;       

    background: url('../img/fundo_home.png') center/cover no-repeat;

    z-index: -1;
    will-change: transform;
}

.parallax-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;     
    justify-content: center; 
    text-align: center;
    position: relative;
    z-index: 2;
}

.hero .container {
    margin-bottom: 130px; 
}

.hero h1,
.hero p {
  color: white;
}

section {
  padding: 30px 0;
  position: relative;
  z-index: 2;
}

.custom-card {
  background: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 12px;
  backdrop-filter: blur(8px);
  color: white;
}

.custom-card img {
  border-radius: 10px;
}